[alias]
	clone-branches = "! git branch -a | sed -n \"/\\/HEAD /d; /\\/master$/d; /remotes/p;\" | xargs -L1 git checkout -t"

[core]
  editor = /home/ubuntu/.local/bin/lvim

[user]
  name=gdtknight
  email=gdtknight@naver.com

[github]
  user=gdtknight
